*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    
    background-color:rgb(44,44,44);
    
}
a{
    text-decoration: none;
    color:#c02ac0
}



.top-bar{
    width: 100%;
    height: 50px;
    border-bottom: 1px  solid #696969;
    color: white;

}

.block-item{
    position: relative;
    left: 250px;
}
.top-bar p{
    line-height: 50px;
    text-align: center;
    display: inline-block;
    width: 150px;
    height: 50px;
    border-radius: 10px;
}

.icon-user{
    line-height: 50px;
    position: absolute;
    font-size: 30px;
    color:rgb(30, 30, 30);
    display: inline-block;
    margin-left: 20px;
}

.icon-user:hover{
    color:rgb(150, 150, 150);
    transition: all  .3s ease;  
}

.top-bar p:hover{
    background-color: #696969;
    transition: all  .3s ease;
}


.wave{
    width: 100%;
    height:50px;
    position: absolute;
    top: 942px;
}

.left-bar img{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin-left: 50px;
    box-shadow: 0px 5px 10px 2px rgb(0, 0, 0);
    transition: all 1s ease-in-out;
}

.tittle_actor{
    height: 330px;
    width: 900px;
    position: relative;
    display:inline-block;
    color: white;
    top: 580px;
    left: 310px;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
}

.actor{
    height: 320px;
    width: 900px;
    padding: 5px;
    position: absolute;
    top: 680px;
    left: 300px; 
    font-family: WhyteInktrap, sans-serif;
    border: 2px solid rgb(74, 74, 74);
    background-color: rgb(56,56,56);
    border-radius: 10px;
}

.name_actor{
    color:#ffffff;
    position:absolute;
    left: 350px;
    top: 20px;
    font-size: 30px;
    font-weight: 500;
    padding-bottom: 30px;
    border-bottom: 2px solid #9a9898;
}

.info_actor{
    position:absolute;
    left: 350px;
    top: 110px;
    width: 525px;
    color:#9a9898;
}
.emi{
    position:absolute;
    width: 300px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 2px #252525;
    
}
.button_info{
    position:absolute;
    width: 200px;
    height: 50px;
    left: 350px;
    bottom: 10px;
    border: 2px solid white;
    border-radius: 10px;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: #0c8ce9;
    line-height: 50px;  
    font-weight: 600;
}

.button_info:hover{
    background-color: #3ba9f7;
    transition: all 0,5s ease;
}

.name-admin{
    color:#ffffff;
    font-family: WhyteInktrap, sans-serif;
    text-align: center;
    padding-top: 5px;
    font-size: 10px;
    font-weight: 200;   
}
.mail{
    color:#9a9898;
    font-size: 10px;
    text-align: center;
    padding-top: 5px;
    
}
.left-bar{
    background-color:rgb(30, 30, 30);
    width:150px;
    height: 1280px;
    top: 0px;
    display: inline-block;
    position: absolute;
    box-shadow: 1px 0px 25px 3px;
}
.icon-instar{
    color:#a5a4a4;
    margin : 20px 0 0 5px;
    font-size: 20px;
    display: flex;
}
.icon-instar:hover{
    color:black;
    background-color: rgb(255, 255, 255);
    transition: all 0,9s ease;
}

.name-ig{
    color:rgb(112, 153, 187);
    margin-left: 8px;
}

.icon-github{
    color:#a5a4a4;
    margin : 15px 0 0 5px;
    font-size: 20px;
    display: flex;
}

.name-github{
    font-size: 17px;
    margin-left: 8px;
    padding-top: 1px;
}

.icon-fb{
    color:#a5a4a4;
    margin : 15px 0 0 5px;
    font-size: 20px;
    display: flex;
}

.name-fb{
    font-size: 17px;
    margin-left: 8px;
    padding-top: 1px;
}

.icon-fb:hover{
    color:black;
    background-color: rgb(255, 255, 255);
    transition: all 0,9s ease;
}
.icon-github:hover{
    color:black;
    background-color: rgb(255, 255, 255);
    transition: all 0,9s ease;
}
.intro{
    margin-top: 10px;
    margin-left: 295px;
    text-align: center;
    color:azure;
    font-family: WhyteInktrap, sans-serif;
    position: absolute;
    top: 50px;
    left: 150px;
}

.intro p{
    padding-top: 20px;
}


h1{
    font-size: 40px;
}
.search{
    width: 50px;
    height: 45px;
    display: flex;
    align-items: center;
    margin-bottom: none;
    border: 2px solid white;
    border-radius:  40px;
    position: absolute;
    top:180px;
    left: 700px;
    transition: all 0.3s ease-in-out;
}
.icon{
    margin-left: 10px;
    font-size: 25px;
    display: inline-block;
    line-height: 45px;
}


#search-box #search-text{
    border: none;
    outline: none;
    width: 100%;
    color:#ffffff;
    background: none;
    padding: 10px 15px;
    font-size: 15px;
    display: inline-block;

}
#search-box{
    width: 100%;
}


.contain{
    margin-left: 143px;
    margin-top: 8px;
    width: 1016px;
    height: 298px;
    color: rgb(207,207,207);
    background-color: rgb(56,56,56);
    position: absolute;
    top: 300px;
    left: 130px;    
    text-align: center;
    text-decoration: none;
    font-weight: 700;
    border-radius: 10px;
}

.box_contain{
    margin-top: 30px;
    border-top: 1px solid rgb(67,67,67);
}

.title_contain{
    padding:none;
    position: absolute;
    color:rgb(255, 255, 255);
    font-family: WhyteInktrap, sans-serif;
    text-align: left;
    font-size: 15px;
    top: 5px;
    left: 15px;
}
.contain1 p, .contain2 p, .contain3 p, .contain4 p, .contain5 p{
    margin: 0 auto;
    display: inline-block;
    line-height: normal;
}
.contain1, .contain2, .contain3, .contain4, .contain5{
    width: 120px;
    height: 60px;
    background-color: rgb(44,44,44);
    position: absolute;
    text-align: center;
    line-height: 60px;
    border-radius: 6px;
    border: 2px solid #ffffffe5; 
    transition: all .15s ease;
    font-family: var(--inter-font-family, "Inter"),sans-serif;
}
.contain1{
    top: 80px;
    left: 48px;
}

.contain2{ 
    top: 80px;
    left: 228px;
}

.contain3{
    top: 80px;
    left: 408px;
}

.contain4{
    top: 80px;
    left: 588px;
}

.contain5{
    top: 80px;
    left: 763px;
}

.contain1:hover, .contain2:hover, .contain3:hover, .contain4:hover, .contain5:hover{
    background-color: rgb(255,255,255);
    color: rgb(0, 0, 0);
    box-shadow: 3px 3px 20px 2px;
    top: 75px;
}

.search:hover{
    width: 409px;
    height: 45px;
    display: flex;
    align-items: center;
    border: 2px solid white;
    border-radius:  40px;
    transition: all 0.3s ease-in-out;
    left: 500px;
}

.left-bar img:hover{
    width:100px;
    height: 100px;
    margin-left: 25px;
    transition: all 1s ease-in-out;
}

